@charset "UTF-8";

.dropdown:hover .dropdown-menu {
	display: block;
}

.modal {
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.modal-header, .modal-body, .modal-footer {
	border: 1px white solid;
	background-color: black;
}

.modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 600px;
	padding: 40px;
	text-align: center;
	color: white;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

#modal-image {
	height: 150px;
	width: 150px;
}

#body {
	background-color: black;
}

.card-text {
	text-align: center;
}

.card-body {
	text-align: center;
}

#upperbody {
	color: white;
	text-align: center;
}

#lowerbody {
	color: white;
	text-align: center;
}